<div class="emailform">
<form class="formEmail">
      <label class="PHemail" for="email">    
        Deja tu mail y fecha de cumpleaños para recibir anuncios y promociones al instante !!
        </label>
        <input class="email"name="email"type="email"placeholder="agrega tu mail"required name="email">
        <input class="email"type="date" name="date"placeholder="fecha de nacimiento "required>
</form>
<input class="submit"name="submit"type="submit">

</div>  