<div class="container">
    <div class="text-center m-5">
        <hr>
        <h1>{{titulo}}</h1>
        <hr>
    </div>
    <div class="row">
        <form action="./formulario" method="post">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" placeholder="Nombre y apellido">
            </div>
            <div class="mb-3">
                <label for="productos" class="form-label">producto</label>
                <select name="producto" id="producto">
                    <option value="STRUGGLER">STRUGGLER</option>
                    <option value="METODO BERSERK">METODO BERSERK</option>
                    <option value="EL ESTOICO">EL ESTOICO</option>
                    <option value="ASESORIA PERSONALIZADA">Asesoria personalizada</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Motivo de Consulta</label>
                <input type="text" class="form-control" name="descripcion" placeholder="Motivo de Consulta">
            </div>
            <div class="mb-3 text-center">
                <input type="submit" class="button btn-primary w-50 p-2" value="Enviar Datos">
            </div>
        </form>
        <div class="text-center validacion">
            <h2 class="text-danger">
                {{validacion}}
            </h2>
        </div>
    </div>
</div>